    <div>
        <div>
            <h4>Data Estudiante</h4>
        </div>
        <form  (ngSubmit)="guardar()" [formGroup]="form">
            <div class="row mt-2">
                <div class="co-1">
                    <label for="identificacionId">Identificacion</label>
                </div>
                <div class="col-5"> 
                    <input class="form-control" type="number" name="identificacion" id="identificacionId"
                     formControlName="identificacion" [(ngModel)]="estudiante.identificacion" [class.is-invalid]="getInvalidArgument('identificacion')">
                     @if(getInvalidArgument('identificacion')){
                        <p class="text-danger">Identifcacion invalida</p>
                     }
                </div>
            </div>
            <div class="row mt-2">
                <div class="co-1">
                    <label for="nombreId">Nombre</label>
                </div>
                <div class="col-5"> 
                    <input class="form-control" type="text" name="nombre" id="nombreId"
                     formControlName="nombre" [(ngModel)]="estudiante.nombres" [class.is-invalid]="getInvalidArgument('nombre')">
                     @if(getInvalidArgument('nombre')){
                        <p class="text-danger">Nombre invalido</p>
                     }
                </div>
            </div>
            <div class="row mt-2">
                <div class="co-1">
                    <label for="apellidosId">Apellidos</label>
                </div>
                <div class="col-5"> 
                    <input class="form-control" type="text" name="apellidos" id="apellidosId"
                     formControlName="apellido" [(ngModel)]="estudiante.apellidos" [class.is-invalid]="getInvalidArgument('apellido')">
                     @if(getInvalidArgument('apellido')){
                        <p class="text-danger">Apellido invalido</p>
                     }
                </div>
            </div>
            <div class="row mt-2">
                <div class="co-1">
                    <label for="nacimientoId">Fecha Nacimiento</label>
                </div>
                <div class="col-5"> 
                    <input class="form-control" type="date" name="nacimiento" id="nacimientoId"
                     formControlName="fechaNacimiento" [(ngModel)]="estudiante.fechaNacimiento" [class.is-invalid]="getInvalidArgument('fechaNacimiento')">
                     @if(getInvalidArgument('fechaNacimiento')){
                        <p class="text-danger">Fecha de nacimiento invalido</p>
                     }
                </div>
            </div>
            <div class="row mt-2">
                <div class="co-1">
                    <label for="cursoId">Curso</label>
                </div>
                <div class="col-5"> 
                    <input class="form-control" type="text" name="curso" id="cursoId"
                     formControlName="curso" [(ngModel)]="estudiante.curso" [class.is-invalid]="getInvalidArgument('curso')">
                     @if(getInvalidArgument('curso')){
                        <p class="text-danger">Curso invalido</p>
                     }
                </div>
            </div>
        </form>
    </div>